body {
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
  /*font-family: ; */
}

#sedans {
  background-color: hsl(31, 77%, 52%);
}

#suvs {
  background-color: hsl(184, 100%, 22%);
}

#luxury {
  background-color: hsl(179, 100%, 13%);
}

/* each block's title */
.title {
    text-transform: capitalize;
    font-family: 'Big Shoulders Display', cursive;
}

/* each block's learn more button */
button {
    background-color: transparent;
    cursor: pointer;
}

#attribution {
}
