html,
body {
  height: 100%
}

body {
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

#sedans {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
}

#suvs {
  background-color: hsl(184, 100%, 22%);
}

#luxury {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
}

/* each block's title */
.title {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2em;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
}

/* each block's learn more button */
button {
    background-color: transparent;
    cursor: pointer;
    border: solid 2px hsl(0, 0%, 95%);
    border-radius: 1em;
    color: hsl(0, 0%, 95%);
}

#attribution {
    display: none;
}
