body {
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
}

.container {
    /* vertical-align: middle; */
}

#sedans {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
}

#suvs {
  background-color: hsl(184, 100%, 22%);
}

#luxury {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
}

/* each block's title */
.title {
    font-family: 'Big Shoulders Display', cursive;
}

/* each block's learn more button */
button {
    background-color: transparent;
    cursor: pointer;
    border-radius: 1em;
}

#attribution {
    display: none;
}
